

<div class="cat">
    <header class="cat-header">
		<br>
        <br>
        <br>
        <a [routerLink] = "['/track']"><button (click) = "setType('HOUSING')">HOUSING</button></a> 
        <br>
        <br>
        <br>
        <a [routerLink] = "['/track']"><button (click)="setType('BILLS')">BILLS</button></a>
        <br>
        <br>
        <br>
       <a [routerLink] = "['/track']"><button (click)="setType('TRANSPORTATION')">TRANSPORTATION</button></a>
       <br>
        <br>
        <br>
        <a [routerLink] = "['/track']"><button (click)="setType('OTHER')">OTHER</button></a>
        <br>
        <br>
        <br>
        <a [routerLink] = "['/']"><button>back</button></a>

    </header>
</div>

